<!DOCTYPE html>
<html>
  <head>
  <link href='http://fonts.googleapis.com/css?family=Lato:400,7020' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/style-poker2.css">
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  </head>
  <body>
    <div id="bottom-bar">
      <div id="hand-value">
        <div id="value-display">One Pair</div>
        <div id="payoff-display">$1</div>
      </div>
      <div id="overall-info">
        <div id="score-display">Score $<span id="score">10</span></div>
      </div>
    </div>
  </body>
</script>
</html>