<!DOCTYPE html>
<html>
  <head>
    <title>My Set Game</title>
    <script src='/_ah/channel/jsapi'></script>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/style.css">
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  </head>
  <body>
    <div>"hello, world!</div>
    <div id="main">
      <div id="board">
      </div>
    <div id="info-box">
      <p id="dice-remain"></p>
      <p id="last-roll"></p>
    </div>  
    </div>
    <div id="bet-slips">
    </div>
    <button id="roll-button">Roll!</button>
    <script src="/js/camelup.js"></script>
  </body>
</html>