<!DOCTYPE html>
<html><head>
  <link href="http://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/css/style-poker.css">
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  </head>
  <body>
    <div>
      <table>
        <tbody><tr id="board"><td class="card rank-Q suit-h">Qh<img src="/img/Q_of_hearts.png"></td><td class="card rank-Q suit-c">Qc<img src="/img/Q_of_clubs.png"></td><td class="card rank-T suit-h">Th<img src="/img/T_of_hearts.png"></td><td class="card rank-Q suit-d">Qd<img src="/img/Q_of_diamonds.png"></td><td class="card rank-K suit-h">Kh<img src="/img/K_of_hearts.png"></td></tr>
      </tbody></table>
    </div>
    <div id="value-display">Three of a kind</div>
    <button id="redeal">Redeal!</button>
  
<script src="/js/videopoker.js"></script>
</body></html>