<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/css/flipper.css">
</head>
<body>
  <div class="flip-container">
	<div class="flipper">
		<div class="front">
			<!-- front content -->
          <img src="/img/card_back2.png">
		</div>
		<div class="back">
			<!-- back content -->
          <img src="/img/10_of_clubs.png">
		</div>
	</div>
</div>
    <div class="flip-container">
	<div class="flipper">
		<div class="front">
			<!-- front content -->
          <img src="/img/card_back2.png">
		</div>
		<div class="back">
			<!-- back content -->
          <img src="/img/10_of_clubs.png">
		</div>
	</div>
</div>
    <div class="flip-container">
	<div class="flipper">
		<div class="front">
			<!-- front content -->
          <img src="/img/card_back2.png">
		</div>
		<div class="back">
			<!-- back content -->
          <img src="/img/10_of_clubs.png">
		</div>
	</div>
</div>
    <div class="flip-container">
	<div class="flipper">
		<div class="front">
			<!-- front content -->
          <img src="/img/card_back2.png">
		</div>
		<div class="back">
			<!-- back content -->
          <img src="/img/10_of_clubs.png">
		</div>
	</div>
</div>
    <div class="flip-container">
	<div class="flipper">
		<div class="front">
			<!-- front content -->
          <img src="/img/card_back2.png">
		</div>
		<div class="back">
			<!-- back content -->
          <img src="/img/10_of_clubs.png">
		</div>
	</div>
</div>
</body>
</html>