<!DOCTYPE html>
<html>
  <head>
  <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/holdem.css">
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  </head>
  <body>
    <div id="top">
      <h2>Hold 'Em Poker</h2>
    </div>
    <div id="main">
      <table>
        <tr id="board">
          <td id="c-0"><img src="/img/card_back2.png"></td>
          <td id="c-1"><img src="/img/card_back2.png"></td>
          <td id="c-2"><img src="/img/card_back2.png"></td>
          <td id="c-3"><img src="/img/card_back2.png"></td>
          <td id="c-4"><img src="/img/card_back2.png"></td>
        </tr>
      </table>
    </div>
    <div id="players">
    </div>
  </body>
  <script src="/js/holdem.js"></script>
</html>