<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/css/mockup.css">
</head>

<body>
  <div id="full-table">
    <div id="top">
      <div id="p-1" class="player">
        <table id="hand-1">
          <td id="p-1-c-0"><img src="/img/card_back2.png"></td>
          <td id="p-1-c-1"><img src="/img/card_back2.png"></td>
        </table>
      </div>
    </div>
    <div id="middle">
      <div id="left">LEFT</div>
      <div id="center">
        <div id="board">
          <div class="flip-container">
            <div class="flipper">
              <div class="front">
                <img id="c-0" src="/img/card_back2.png">
              </div>
              <div class="back">
                <img src="/img/10_of_clubs.png">
              </div>
            </div>
          </div>
          <div class="flip-container">
            <div class="flipper">
              <img id="c-1" src="/img/card_back2.png">
              <div class="back">
                <img src="/img/10_of_clubs.png">
              </div></div>
            </div>
          </div>
<!--          <div class="flip-container">
            <div class="flipper">
              <div id="c-2" class="front"><img src="/img/card_back2.png"></div>
            </div>
          </div>
          <div class="flip-container">
            <div class="flipper">
              <div id="c-3" class="front"><img src="/img/card_back2.png"></div>
            </div>
          </div>
          <div class="flip-container">
            <div class="flipper">
              <div id="c-4" class="front"><img src="/img/card_back2.png"></div>
            </div>
          </div>-->
        </div>
        <div id="right">RIGHT</div>
      </div>
      <div id="bottom">
        <div id="p-0" class="player">
          <table id="hand-0">
            <td id="p-0-c-0"><img src="/img/card_back2.png"></td>
            <td id="p-0-c-1"><img src="/img/card_back2.png"></td>
          </table>
        </div>
      </div>
    </div>
</body>

</html>
